html {background-color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;}


body {background-color: white;}
h1 {color: black;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: underline;}
    
p {color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;}
.row{
    
    display: flex; /* Use flexbox */
    
    padding-bottom: 20px; 
    margin: 0 5px;
    
}
#bar1 {
    width: 900px;
    height: 400px;
    
    }
#bar2 {
    width: 900px;
    height: 400px;
    
    }
.graph1 {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space elements evenly */
    padding-bottom: 20px; 
    margin: 0 5px;
    
}
.graph3 {
    display: flex; /* Use flexbox */
    justify-content: space-evenly; 
    padding-bottom: 20px; 
    padding-top: 20px;
    align-items: center;
    
}
.graph4 {
    display: flex; /* Use flexbox */
    justify-content: space-evenly; 
    padding-bottom: 20px; 
    padding-top: 30px;
    align-items: center;
    
}
