<!DOCTYPE html>
<html lang="en">
<head>
    <title>Organ Donation and Transplantation in the United States</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Organ Donation and Transplantation in the United States</h1>
            <p> An interactive dashboard showcasing organ donation and transplantation data between 2017-2022</p>
    
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>Organ:</h5>
                    <select id="selDataset">
                        <option value="Heart">Heart</option>
                        <option value="Kidney">Kidney</option>
                        <option value="Kidney-Pancreas">Kidney-Pancreas</option>
                        <option value="Liver">Liver</option>
                        <option value="Lung">Lung</option>
                        <option value="Pancreas">Pancreas</option>
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Yearly Overview of Organ Donation and Transplantation</h3>
                    </div>
                    <div id="overview-year" class="panel-body"></div>
                </div>
            </div>
            

            <div class="col-md-5">
                <div id="bar1"></div>
            </div>
            <div class="col-md-5">
                <div id="bar2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="pie1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="histogram"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="pie2"></div>
            </div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/logic.js"></script>
    <script src="../static/js/national.js"></script>
    



</body>


</html>